body{
  background-image:url("https://wallpapers.com/images/hd/black-office-background-o7l7pnc11u0c5hzq.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
